<div class="home-container">
    <!-- background-overlay -->
    <div class="background-overlay"></div>

    <!-- College-header Section-->
    <div class="college-header">
        <h1>Dr Shyama Prasad Mukherjee University, Ranchi</h1>
        <p>(Empowering the future through knowledge and innovation)</p>
    </div>

    <div class="about-container">
        <div class="about-banner">
            <h1>About College Event Management System </h1>
            <p>Effortlessly organize, manage, and track events with our powerful and intuitive system.</p>
        </div>

        <div class="about-content">
            <div class="about-card">
                <h2 data-icon="🚀">Our Mission</h2>
                <p> "The College Event Management System provides a user-friendly platform for organizing and managing
                    campus events,
                    fostering engagement among students, faculty, and staff. By streamlining planning, registration, and
                    communication,
                    it enhances event experiences, promotes participation, and supports the institution's academic and
                    social goals."
                </p>
            </div>

            <div class="about-card">
                <h2 data-icon="🌟">Why Choose Us?</h2>
                <ul>
                    <li>Intuitive and Easy to Use</li>
                    <li>Secure and Reliable Platform</li>
                    <li>Customizable Event Features</li>
                    <li>Real-Time Notifications & Updates</li>
                </ul>
            </div>

            <div class="about-card">
                <h2 data-icon="📅">Our Vision</h2>
                <p>To revolutionize campus events by delevering effortless, engaging, and unforgettable experiances that
                    connect, inspire, and empower students, faculty, and staff.</p>
            </div>
        </div>

        <div class="about-footer">
            <p>Join us in transforming the way events are managed. Experience innovation at its best!</p>
        </div>
    </div>

    <!-- Get Started Section -->
    <div class="get-started-section">
        <button class="get-started-btn" (click)="navigateToLogin()">Get Started</button>
    </div>
</div>